.spacer {
    margin-top: 20px;
}

.hSpacer {
    margin-left: 20px;
}

/*Quand on passe la souris sur un td ou un td*/
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background: #428BCA;
    color: #fff;
}

a, .clickable {
    cursor: pointer;
}

.colFrom {
    width: 20%;
}

.colTo {
    width: 15%;
}

.colSubject {
    width: 45%;
}
.colDate {
    width: 15%;
}

.surbrillanceRecherche {
    background-color: #FFD4A2;
}

.laberChampNouveauMail {
    width: 70px;
}

.input-group, .contenuNouveauMail {
    width: 100%;
}

input.ng-invalid{
    background: rgba(120, 120, 120, 0.5)
}
