<!DOCTYPE html>
<html lang="fr" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>WebMail</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet">-->
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body ng-app="webmail" ng-controller="webmailCtrl">

		<div class="container">

			<!--NAVIGATION-->
			<div class="spacer navbar">
				<ul class="nav nav-pills navbar-left">
					<li ng-repeat="dossier in dossiers"
						ng-class="{ active: vueCourante == 'vueDossier' && dossier == seletedFolder }"><a href="#{{dossier.value}}">{{dossier.label}}</a></li>
				</ul>
				<ul class="nav nav-pills navbar-right">
					<li ng-class="{ active: vueCourante == 'vueNouveauMail'}"><a href="#/nouveauMail"><span class="glyphicon glyphicon-pencil"></span></a></li>
				</ul>
			</div>


			<!--Affichage liste mails-->
			<div ng-show="vueCourante == 'vueDossier'"><!--si aucun dossier ni mail selected, alors afficher-->

				<!--RECHERCHE-->
				<div class="spacer input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-search"></span>
					</div>
					<input type="text" class="form-control" ng-model="recherche" placeholder="Rechercher un mail...">
					<div class="input-group-btn">
						<button class="btn btn-default" ng-click="dropTheCache()">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</div>

				<!--Tableau liste mail-->
				<table class="table table-striped table-hover spacer">
					<thead>
						<th class="colFrom">
							<a ng-click="mailOrderBy('from')">
								<span>De</span>
								<span class="hSpacer" ng-class="styleChevron('from')"></span>
							</a>
						</th>
						<th class="colTo">
							<a ng-click="mailOrderBy('to')">
								<span>&Agrave;</span>
								<span class="hSpacer" ng-class="styleChevron('to')"></span>
							</a>
						</th>
						<th class="colSubject">
							<a ng-click="mailOrderBy('subject')">
								<span>Objet</span>
								<span class="hSpacer" ng-class="styleChevron('subject')"></span>
							</a>
						</th>
						<th class="colDate">
							<a ng-click="mailOrderBy('date')">
								<span>Date</span>
								<span class="hSpacer" ng-class="styleChevron('date')"></span>
							</a>
						</th>
					</thead>
					<!--Liste des mails-->
					<tbody>
						<tr ng-repeat="email in emailsFiltres = (selectedFolder.emails | filter:recherche) | orderBy:champTri:triDescendant" class="clickable" ng-click="versEmail(selectedFolder, email)">
							<td ng-bind-html="email.from | surbrillanceRecherche:recherche"></td> <!--On applique le filtre surbrillanceRecherche avec le parametre recherche aux elements-->
							<td ng-bind-html="email.to | surbrillanceRecherche:recherche"></td>
							<td ng-bind-html="email.subject | surbrillanceRecherche:recherche"></td>
							<td> {{email.date | date:'short'}} </td>
						</tr>
					</tbody>
				</table>
				
				<div class="alert alert-info">Le dossier contient {{emailsFiltres.length}} mails.</div>
 
			</div>

			<!--Affichage UN mail-->
			

			<contenu-mail ng-show="vueCourante == 'vueContenuMail'" email="selectedMail"></contenu-mail>

			<!--Affichage nouveau mail-->
			<nouveau-mail ng-show="vueCourante == 'vueNouveauMail'" envoi-mail="envoiMail(nouveauMail)"></nouveau-mail>

		</div>
		<script type="text/javascript" src="libs/tinymce/tinymce.min.js"></script>
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.4/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.5/angular-locale_fr-fr.min.js"></script>
		-->
		<script type="text/javascript" src="libs/angular-1.2.29/angular.js"></script>
        <script type="text/javascript" src="libs/angular-1.2.29/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="libs/angular-1.2.29/i18n/angular-locale_fr-fr.js"></script>
		

		<script type="text/javascript" src="libs/tinymce/ui-tinymce.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/mailServiceMock.js"></script>
		<script type="text/javascript" src="js/mesFiltres.js"></script>
		<script type="text/javascript" src="js/mesDirectives.js"></script>
	</body>
</html>